@import 'variables';

body {
	background-color: $bgcol;
	font-family: 'Exo 2', sans-serif;
	font-size: 14px;
	color: white;
	font-weight: 300;
	@media (max-width: 400px) {
		font-size: 12px;
	}
}

h1, h2,
p,
a,
button {
	all: unset;
}

.container {
	position: relative;
	max-width: 100%;
	margin: 0 4em;
	@media (max-width: 914px) {
		margin: 0 2em;
	}
	@media (max-width: 500px) {
		margin: 0 1em;
	}
}

.button {
	padding: 20px 3em;
	border: 1px solid white;
	font-weight: 200;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;

	&:hover {
		cursor: pointer;
		color: $linkhover;
		background-color: white;
		-webkit-box-shadow: 0px 0px 45px 0px rgba(78, 85, 62, 0.4);
		-moz-box-shadow: 0px 0px 45px 0px rgba(78, 85, 62, 0.4);
		box-shadow: 0px 0px 45px 0px rgba(78, 85, 62, 0.4);
	}
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}