@import '../variables';

.examples {
	background-color: $bgcol;
	text-align: center;
	padding-bottom: 3rem;
	&__title {
		display: block;
		font-size: 3rem;
		color: $dark;
		font-weight: 200;
		width: 100%;
		padding-top: 2rem;
		margin-bottom: 1rem;
	}
	&__title2 {
		width: 100%;
		text-align: center;
		display: block;
		font-size: 1rem;
		color: #5c5c5c;
		font-weight: 200;
		font-style: italic;
		margin-bottom: 1rem;
	}
	&__wrap {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 4rem;
		grid-row-gap: 4rem;
		@media (max-width: 1038px) {
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 1rem;
			grid-row-gap: 1rem;
		}
		@media (max-width: 500px) {
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 0.5rem;
			grid-row-gap: 0.5rem;
		}

		& img {
			width: 100%;
			outline: 5px solid white;
			-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
			-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
			box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
			-webkit-border-radius: 0px 0 0px 0;
			-moz-border-radius: 0px 0 0px 0;
			-ms-border-radius: 0px 0 0px 0;
			-o-border-radius: 0px 0 0px 0;
		}		
	}
}

.rotate_left {
	transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	z-index: 30;
	margin-top: 20px;
}

.rotate_right {
	transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	z-index: 31;
}