.header {
	height: 100vh;
	background: url('../../assets/img/back.jpg') no-repeat center center;
	background-size: cover;
	&__wrap {
		display: flex;
		align-items: center;
	}

	&__promo {
		margin-top: 35vh;
		width: 100%;
		text-align: center;

		& h1 {
			font-weight: 600;
			font-size: 5em;
			font-style: italic;
			margin: 0;
		}

		& p {
			margin-top: 1rem;
			display: block;
			font-size: 3em;
			font-weight: 100;
			font-style: italic;
			margin-bottom: 2em;

		}
	}
}