@import '../variables';

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	background-color: $nav;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 45px 0px rgba(34, 34, 34, 0.19);
	-moz-box-shadow: 0px 0px 45px 0px rgba(34, 34, 34, 0.19);
	box-shadow: 0px 0px 45px 0px rgba(34, 34, 34, 0.19);

	&__links {
		display: flex;
		justify-content: space-between;
		list-style: none;
		width: 60%;
		padding: 0;
		& ul {
			text-align: center;
			width: 100%;
			padding: 0;
		}
		@media (max-width: 1021px) {
			display: none;
		}

		& li {
			margin: 0 2em;
			display: inline-flex;

			&:hover {
				cursor: pointer;
				color: $linkhover;
			}
		}

		transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
	}

	&__menu {
		margin-left: 4em;
		&__wrap {
			width: 12%;
		}
		@media (max-width: 914px) {
			margin-left: 2em;
		}

		@media (max-width: 500px) {
			margin-left: 1em;
		}

		width: 40px;
		height: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		transition: all 0.8s ease;

		& span {
			position: relative;
			display: block;
			width: 100%;
			height: 2px;
			background-color: #fff;

			&::after {
				transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				content: '';
				display: block;
				position: absolute;
				width: 0%;
				height: 100%;
				background-color: $linkhover;
			}
		}

		&:hover {
			cursor: pointer;

			& span {
				&::after {
					width: 100%;
				}
			}

			transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
		}
	}

	&__call {
		margin-right: 4em;
		@media (max-width: 914px) {
			margin-right: 2em;
		}

		@media (max-width: 500px) {
			margin-right: 1em;
		}
	}
}