@import '../variables';




.popup {
	&_dark {
		position: fixed;
		display: none;
		z-index: 200;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.5;
	}

	&__wrap {
		display: none;
		width: 900px;
		z-index: 300;
		max-width: 100%;
		background-color: white;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		margin-top: 100px;
		overflow: scroll;
		@media (max-width: 900px) {
			margin-top: 0
		}
		scrollbar-width: thin;
	}

	&__wrap::-webkit-scrollbar {
		width: 10px;
	}

	&__wrap::-webkit-scrollbar-track {
		background-color: none;
	}

	&__wrap::-webkit-scrollbar-thumb {
		background-color: $green;
	}



	&__info {
		font-size: 1rem;

		& p,
		h3,
		h4,
		ul,
		li {
			display: block;
			margin-bottom: 1rem;
			text-align: justify;
		}

		h4 {
			all: unset;
			display: block;
			font-size: 1.2rem;
			margin-bottom: 1rem;
			font-weight: 400;
			font-style: italic;
		}

		h3 {
			all: unset;
			font-size: 1rem;
			margin-bottom: 1rem;
			font-weight: 200;
			text-decoration: underline 1px dashed;
		}

		& ul {
			padding: 0;
			font-style: italic;
			;
		}

		margin: 2rem;
		z-index: 4000;
		color: $dark;

		@media (max-width: 900px) {
			margin: 1rem;
		}

		&__desc {
			height: 100%;
			display: flex;
			justify-content: space-between;

			@media (max-width: 900px) {
				flex-direction: column;
			}

			& .buy {
				max-width: 400px;
				margin: 0 auto;

				img {
					width: 100%;
					margin-bottom: 1rem;
					border: 1px dashed white;
				}


			}

			& .enroll1 {
				display: block;
				width: 100%;
				text-align: center;
				margin-bottom: 1rem;
				background-color: $green;
				padding: 20px 0;

				&:hover {
					cursor: pointer;
					background-color: $dark;
					color: $green;
					border-color: $green;
				}

				transition: all 0.1s ease;
				-webkit-transition: all 0.1s ease;
				-moz-transition: all 0.1s ease;
				-ms-transition: all 0.1s ease;
				-o-transition: all 0.1s ease;
				@media (max-width: 900px) {
					display: none;
				}
			}

			& .enroll2 {
				display: none;
				width: 100%;
				text-align: center;
				margin-bottom: 1rem;
				background-color: $green;
				padding: 20px 0;

				&:hover {
					cursor: pointer;
					background-color: $dark;
					color: $green;
					border-color: $green;
				}

				transition: all 0.1s ease;
				-webkit-transition: all 0.1s ease;
				-moz-transition: all 0.1s ease;
				-ms-transition: all 0.1s ease;
				-o-transition: all 0.1s ease;
				@media (max-width: 900px) {
					display: block;
				}
			}

			& .text {
				width: 48%;

				@media (max-width: 900px) {
					width: 100%;
				}
			}

		}

		&__title {
			display: flex;
			justify-content: space-between;

			& h1 {
				font-size: 2rem;
				font-weight: 500;
				font-style: italic;
				display: block;
				margin-bottom: 2rem;
			}

			& img {
				width: 2rem;
				height: 2rem;
				opacity: 0.6;

				&:hover {
					cursor: pointer;
					transform: rotate(180deg);
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-ms-transform: rotate(180deg);
					-o-transform: rotate(180deg);
				}

				transition: all 0.5s ease;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-ms-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
			}
		}
	}

	&_active {
		display: block;
	}
}


.mb-4 {
	margin-bottom: 0.5em;
}

.mb-8 {
	margin-bottom: 2em;
}